/* Roboto Regular */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
       url("../fonts/web/roboto.woff2") format("woff2"),
       url("../fonts/web/roboto.woff") format("woff");
}

/* Roboto Medium */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
       url("../fonts/web/robotomedium.woff2") format("woff2"),
       url("../fonts/web/robotomedium.woff") format("woff");
}

/* Roboto Bold */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
       url("../fonts/web/robotobold.woff2") format("woff2"),
       url("../fonts/web/robotobold.woff") format("woff");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { box-sizing: inherit; }

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a { text-decoration: none; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  display: block;
  line-height: 18px;
  font-weight: 500;
  color: #fff;
  background-color: #fb565a;
  text-align: center;
  padding: 16px 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.slider__link:hover,
.offers__link_red:hover,
.address__link:hover,
.feedback-form__button:hover,
.action__price:hover {
  background-color: #e74246;
}

.slider__link:active,
.slider__link:focus,
.offers__link_red:active,
.offers__link_red:focus,
.address__link:active,
.address__link:focus,
.feedback-form__button:active,
.feedback-form__button:focus,
.action__price:active,
.action__price:focus {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

/* header */
.header {
  min-height: 545px;
  padding-top: 49px;
  padding-bottom: 80px;
  background-color: #eeeeee;
}

.header__inner {
  min-height: 355px;
}

.header__title {
  font-size: 55px;
  line-height: 55px;
  color: #000;
  font-weight: 500;
  text-align: center;
}

.header__navigation-link {
  width: 160px;
  height: 65px;
  margin-right: 202px;
  cursor: pointer;
}

.header__navigation-link:hover .nav__logo {
  opacity: 0.8;
}

.header__navigation-link:active .nav__logo,
.header__navigation-link:focus .nav__logo {
  opacity: 0.3;
}

/* navigation */
.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 72px;
}

.nav__logo {
  width: 160px;
  height: 65px;
}
.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  width: 800px;
}

.site-list__item {
  margin-right: 47px;
}

.site-list__item:last-child {
  margin-right: 0;
  margin-left: auto;
}

.site-list__link {
  line-height: 30px;
  font-weight: 500;
  color: #000;
  position: relative;
}

.site-list__link:hover {
  color: #fb565a;
}

.site-list__link:active,
.site-list__link:focus {
  color: rgba(0, 0, 0, 0.3);
}

.site-list__link_active::after {
  content: "";
  background-color: #fb565a;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -12px;
  left: 0;
}

.site-list__link_basket {
  padding-left: 41px;
  position: relative;
}

.site-list__link_basket::before {
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../img/icons/cart.svg");
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

/* slider */
.slider {
  position: relative;
}

.slider__controls {
  position: absolute;
  top: 255px;
  left: 560px;
  z-index: 1;
}

.slider__controls-list {
  display: flex;
}

.slider__controls-list,
.slider__list {
  list-style: none;
}

.slider__item {
  display: none;
  flex-direction: column;
  position: relative;
}

.slider__info_math {
  width: 378px;
}

.slider__info_formulae {
  width: 515px;
}

.slider__info_night {
  width: 408px;
}

.slider__controls-button {
  width: 18px;
  height: 18px;
  border: 0;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 17px;
  position: relative;
  cursor: pointer;
}

.slider__controls-button_current::after {
  content: "";
  display: block;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  border: 2px solid #c1c1c1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
}

.slider__controls-item:last-child .slider__controls-button {
  margin-right: 0;
}

.slider__image {
  position: absolute;
  top: -54px;
  right: 0;
}

.slider__image_formulae {
  top: -71px;
  right: 0;
}

.slider__image_night {
  top: -52px;
}

.slider__item_math {
  display: flex;
}

/*

.slider__item_math
.slider__item_formulae
.slider__item_night

*/

.slider__title {
  font-size: 55px;
  line-height: 55px;
  color: #000;
  font-weight: 500;
  margin-bottom: 28px;
}

.slider__text {
  margin-bottom: 42px;
}

.slider__text_math {
  width: 371px;
}

.slider__text_formulae {
  width: 409px;
}

.slider__text_night {
  width: 346px;
}



.slider__link {
  background-color: #fb565a;
  width: 240px;
}

.slider__image {
  position: absolute;
}

/* offers */
.offers {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}

.offers::after {
  content: "";
  width: 1160px;
  height: 2px;
  background-color: #fcfcfc;
  position: absolute;
  bottom: 0;
  left: 0;
}

.offers__list {
  list-style: none;
  display: flex;
}

.offers__item {
  width: 300px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
}

.offers__item:last-child {
  margin-right: 0;
}

.offers__image {
  margin-bottom: 26px;
}

.offers__title {
  line-height: 30px;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.offers__text {
  margin-bottom: 35px;
}

.offers__link {
  width: 160px;
  margin-top: auto;
}

.offers__link_green {
  background-color: #00ca74;
}

.offers__link_green:hover {
  background-color: #00bc6c;
}

.offers__link_green:active,
.offers__link_green:focus {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.offers__link_yellow {
  background-color: #efc84a;
}

.offers__link_yellow:hover {
  background-color: #eab534;
}

.offers__link_yellow:active,
.offers__link_yellow:focus {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

/* about us */
.about-us {
  padding-top: 80px;
  padding-bottom: 77px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.about-us::after {
  content: "";
  width: 1160px;
  height: 2px;
  background-color: #fcfcfc;
  position: absolute;
  bottom: 0;
  left: 0;
}

.about-us__left {
  width: 700px;
}

.about-us__right {
  width: 400px;
}

.about-us__promo {
  font-size: 45px;
  line-height: 45px;
  color: #000;
  font-weight: 500;
  margin-bottom: 35px;
}

.about-us__text {
  margin-bottom: 47px;
}

.about-us__image {
  margin-bottom: 41px;
}

.work__title {
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 30px;
}

.work__list {
  list-style: none;
}

.work__item {
  margin-bottom: 30px;
  padding-left: 36px;
  position: relative;
}

.work__item::before {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.work__item:last-child {
  margin-bottom: 0;
}

.table {
  display: block;
  width: 360px;
  border-collapse: collapse;
  flex-direction: column;
}

.table__title {
  color: #000;
  font-weight: 700;
  margin-bottom: 49px;
  display: block;
}

.table__row {
  display: flex;
  justify-content: space-between;
  width: 360px;
}

.table__cell {
  width: 110px;
  text-align: left;
}

.table__head {
  font-size: 45px;
  line-height: 10px;
  color: #000;
  font-weight: 700;
  margin-bottom: 26px;
  display: block;
}

.table__data {
  line-height: 18px;
}

/* brands */
.brands {
  padding-top: 46px;
  padding-bottom: 44px;
  margin-bottom: 80px;
  position: relative;
}

.brands::after {
  content: "";
  width: 1160px;
  height: 2px;
  background-color: #fcfcfc;
  position: absolute;
  bottom: 0;
  left: 0;
}

.brands__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.brands__item {
  cursor: pointer;
}

.brands__image {
  opacity: 0.2;
}

.brands__image:hover {
  opacity: 1;
}

.brands__image:active,
.brands__image:focus {
  opacity: 0.1;
}

.promo__text {
  font-weight: 700;
  color: #000;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 12px;
}

.promo__discount {
  color: #444444;
  line-height: 22px;
}

/* feedback form */
.feedback-form__button {
  width: 260px;
  font-style: normal;
  font-size: inherit;
  line-height: 18px;
  border: none;
}




/* location */
.location {
  width: 1440px;
  min-height: 416px;
  margin: 0 auto;
  position: relative;
}

.location__map {
  width: 100%;
}
/* не могу сделать блок */

/* address */
.address {
  width: 319px;
  min-height: 308px;
  padding: 54px 50px 47px 50px;
  background-color: #fff;
  position: absolute;
  top: 54px;
  left: 140px;
  display: block;
}

.address__title {
  font-size: 18px;
  line-height: 30px;
  color: #000;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.address__text {
  line-height: 18px;
  color: #666666;
  font-style: normal;
}

.address_number {
  display: block;
  margin-top: 20px;
}

.address__link {
  width: 219px;
  font-style: normal;
  margin-top: 23px;
}

/* modal feedback */
.modal-feedback {
  width: 960px;
  height: 590px;
  background-color: #fff;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
  margin: 0 auto;
  padding: 73px 100px 84px 100px;
  position: fixed;
  top: 100px;
  left: 50%;
  margin-left: -480px;
  z-index: 20;
  display: none;
}

.modal-feedback__form {
  position: relative;
}

.modal-feedback__title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000;
  margin-bottom: 49px;
}

.feedback-form__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}

.feedback-form__label {
  line-height: 18px;
  color: #000;
  font-weight: 700;
  display: block;
  width: 360px;
  margin-bottom: 12px;
}

.feedback-form__input {
  display: block;
  width: 360px;
  font-family: inherit;
  font-size: inherit;
  line-height: 18px;
  border: 2px solid #d7dcde;
  color: rgba(68, 68, 68, 0.5);
  padding: 14px 16px;
}

.feedback-form__input:hover,
.feedback-form__area:hover {
  border: 2px solid #b4b9bb;
}

.feedback-form__input:active,
.feedback-form__input:focus,
.feedback-form__area:active,
.feedback-form__area:focus {
  border: 2px solid #000;
  color: #444444;
}

.feedback-form__input:active::placeholder,
.feedback-form__input:focus::placeholder,
.feedback-form__area:active::placeholder,
.feedback-form__area:focus ::placeholder{
  color: #444444;
}

.feedback-form__input:invalid,
.feedback-form__area:invalid {
  border: 2px solid #e74246;
  color: #e74246;
}

.feedback-form__input:invalid::placeholder,
.feedback-form__area:invalid::placeholder {
  color: #e74246;
}

.feedback-form__area {
  color: rgba(68, 68, 68, 0.5);
  width: 760px;
  height: 118px;
  border: 2px solid #d7dcde;
  padding: 14px 15px 0 15px;
  font-size: inherit;
  line-height: 18px;
  margin-bottom: 47px;
}

.feedback-form__input::placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.button-close {
  width: 21px;
  height: 21px;
  border: none;
  background-image: url("../img/icons/close-cross.svg");
  position: absolute;
  top: -130px;
  right: -50px;
  opacity: 0.3;
  cursor: pointer;
}

.button-close:hover {
  opacity: 1;
}

.button-close:active,
.button-close:focus {
  opacity: 0.1;
}

.index-column {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
}

/* filter */
.filter {
  width: 260px;
}

.filter__form-item {
  border: none;
  padding: 0;
}

.filter__form-item_price {
  margin-bottom: 62px;
}

.filter__form-item_grid {
  margin-bottom: 51px;
}

.filter__form-item_features {
  margin-bottom: 48px;
}

.controls {
  background-color: #eeeeee;
  height: 81px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 13px;
}

.controls__scale {
  background-color: #d7dcde;
  width: 219px;
  height: 2px;
}

.scale__bar {
  width: 152px;
  height: 2px;
  background-color: #c3e7d8;
}

.toggle__wrapper {
  position: absolute;
}

.toggle__wrapper_min {
  top: 30px;
  left: 10px;
}

.toggle__wrapper_max {
  top: 30px;
  left: 160px;
}

.toggle {
  border: none;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}

.toggle::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 10px;
  border-radius: 50%;
  transform: translate(-50%);
  width: 4px;
  height: 4px;
  background-color: #4d4d4d;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls__col {
  width: 118px;
}

.price-controls__label {
  text-transform: uppercase;
  margin-right: 11px;
  line-height: 22px;
}

.price-controls__input {
  width: 80px;
  background-color: #eeeeee;
  border: none;
  padding: 10px 5px;
  text-align: center;
  color: inherit;
}

.filter__form-list {
  list-style: none;
}

.filter__form-title {
  line-height: 30px;
  color: #000;
  letter-spacing: 0.18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 21px;
}

.filter__form-title_price {
  margin-bottom: 56px;
}

.filter__form-input:checked ~ .grid-list__label::after {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  background-color: #4d4d4d;
  opacity: 0.4;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 8px;
}

.filter__form-input:checked ~ .features-list__label::after {
  content: "";
  display: block;
  width: 20px;
  height: 12px;
  border: 4px solid #4d4d4d;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  opacity: 0.4;
  position: absolute;
  top: -1px;
  left: 6px;
  opacity: 0.4;
}

.filter__form-label {
  line-height: 20px;
  padding-left: 36px;
  display: block;
  position: relative;
}

.filter__form-label::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  opacity: 0.4;
}

.grid-list__label {
  margin-bottom: 15px;
}

.grid-list__label::before {
  width: 25px;
  height: 25px;
  border: 4px solid #4d4d4d;
  border-radius: 50%;
}

.features-list__label {
  margin-bottom: 17px;
}

.filter__form-option:last-child .filter__form-label {
  margin-bottom: 0;
}

.features-list__label::before {
  width: 23px;
  height: 23px;
  border: 2px solid #4d4d4d;
  border-radius: 2px;
}

.filter__form-button {
  border: none;
  font-size: inherit;
  width: 260px;
  background-color: #eeeeee;
  color: #000;
}

/* sorting */
.sorting {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.sorting__title {
  font-size: 18px;
  line-height: 18px;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: auto;
}

.sorting__list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 360px;
}

.sorting__item {
  margin-right: 27px;
}

.sorting__item_name {
  margin-right: 48px;
}

.sorting__item_down {
  margin-right: 18px;
}

.sorting__item_up {
  margin-right: 0;
}

.sorting__link {
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 18px;
}

.sorting__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting__link_active,
.sorting__link:active,
.sorting__link:focus {
  color: #000;
}

.sorting__svg_down {
  transform: rotate(180deg);
}

.sorting__svg path {
  fill: rgba(0, 0, 0, 0.3);
}

.sorting__svg_current path {
  fill: #000;
}

.sorting__svg:hover path {
  fill: rgba(0, 0, 0, 0.6);
}

.sorting__svg path:active,
.sorting__svg path:focus {
  fill: #000;
}

/* catalog */
.catalog {
  width: 760px;
  display: flex;
  flex-direction: column;
}

.catalog__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.catalog__item {
  width: 360px;
  margin-right: 40px;
  margin-top: 33px;
  position: relative;
  cursor: pointer;
}

.catalog__browser {
  opacity: 0.12;
  width: 360px;
  height: 40px;
  margin-bottom: -7px;
}

.catalog__item:hover .catalog__browser {
  opacity: 1;
}

.catalog__item:hover .catalog__action {
  display: flex;
}

.catalog__item:hover .action__title {
  color: #fb565a;
}

.catalog__item:active .action__title,
.catalog__item:focus .action__title {
  color: rgba(0, 0, 0, 0.3);
}

.catalog__item:nth-child(2n) {
  margin-right: 0;
}

.catalog__action {
  display: none;
  flex-direction: column;
  width: 360px;
  min-height: 231px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: #eeeeee;
  padding: 35px 67px 43px 66px;
}

.action__title {
  text-transform: uppercase;
  color: #000;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 26px;
}

.action__text {
  line-height: 18px;
  color: #666666;
  text-align: center;
  margin-bottom: 30px;
}

.action__price {
  width: 200px;
}

/* pagination */
.pagination__list {
  list-style: none;
  display: flex;
}

.pagination__item {
  display: flex;
  margin-right: 11px;
}

.pagination__item:last-child {
  margin-right: 0;
}

.pagination__link {
  width: 50px;
  padding: 13px 5px;
  background-color: #eeeeee;
  color: #000;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  align-self: center;
  border: 3px solid transparent;
}

.pagination__link:hover {
  background-color: #dfdfdf;
}

.paginaiton__link:active,
.pagination__link:focus {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.pagination__link_current {
  background-color: #fff;
  border: 3px solid #dbdbdb;
}

.pagination__link_next {
  width: 260px;
}

/* footer */
.footer {
  padding-top: 69px;
  padding-bottom: 69px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* social */
.social-list {
  list-style: none;
  display: flex;
  margin-right: 139px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 79px;
  height: 79px;
  background-color: #e1e1e1;
  border-radius: 50%;
  margin-right: 12px;
}

.social-list__item:last-child .social-list__link {
  margin-right: 0;
}

.social-list__link:hover {
  background-color: #e74246;
}

.social-list__link:active,
.social-list__link:focus {
  background-color: #d7373b;
}

.social-list__link:active path,
.social-list__link:focus path {
  opacity: 0.3;
}
